{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<div class="col-md-12">
<form method="post" action="" enctype="multipart/form-data" >
           {% csrf_token %}
           <div class="container">
           	 {{ form.as_p }} 
         <!-- {% crispy form %} -->
      <br>
<input type="submit" value="Save" class="btn btn_orange">
<a href="{% url 'department_list' %}" class="btn btn-defult" style="width: 97px;">Cancel</a>
</div>
</form>
</div>
{% endblock %}